.container1{

    
        padding: 16px;
        background-color: rgb(87, 82, 82);
        display: flex;
        gap: 16px;
        border-radius: 3px;
        
        a{
                color:#fff;
                text-decoration: none;
        }

    
}