$primapryColor: #5E81F4;
$primaryHoverColor: #475EAA;
$lightInfoColor: #5E81F419;
$backgoruladPrimaryColor: #F6F6F6;
$secondaryTextColor: #8181A5;
$white :#fff;
$primaryText:#1C1D21;
$outLine:#ECECF2;