.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }